<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="w3-bar w3-theme w3-xlarge">
  <span class="w3-bar-item" th:text="Edit"> </span>
  <div class ="w3-right">
    <input type="button" class="w3-button w3-round-xxlarge w3-black" value="Log out">
    <input type="button" class="w3-button w3-round-xxlarge w3-black" value="Sign up">
  </div>
</div>

<div class="w3-bar w3-theme">
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-white">Orgs</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-white">Friends</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-white">Invite</a>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-hover-white">Edit</a>
</div>
</body>
</html>